
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./testinstructions.component.css">

    <title>OnlineExamSystem</title>
</head>

<body>
    <div>
        <header>Instructions</header>

        <p>
        <ul>
            <li>This is a timed test.</li>
            <li> Please make sure you are not interrupted during the test, as the timer cannot be paused
                once started.
                Please ensure you have a stable internet connection.</li>
            <li>We recommend you to try the sample test before taking the main test.</li>
        </ul>
        <button  class="button" (click)="registerforExam()">Click Next To Take Test</button>
    </div>
</body>

</html>
