<div>
    <button class="mainButton" padding:10px style="color:black;">Show My Levels</button><br>
    </div>
    <div>
        <div class="container">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">SUBJECT NAME</div>
                    <div class="col col-2">CURRENT LEVEL</div>
                    <div class="col col-3">NEXT LEVEL</div>
                </li>
                        <button class="bttn" (click)="myLevel()" style="color:black;">Click here to Take Test</button>
            </ul>
        </div>
    </div>
