

<body style="background-image: url(bg4.jpg); background-position: center;">
    
    <button class="button" (click)="fetchCurrentLevel()" style="align-content: center;">START</button>
    <div class="container">
        <table>
    <form *ngIf="isStarted">
                <div><b>{{index+1}}.{{ques.question}}</b></div>
                <div><input type="radio" name="response" value = "{{ques.choiceOne}}" [(ngModel)] = "response.studentResponse">{{ques.choiceOne}}</div>
                <div><input type="radio" name="response" value = "{{ques.choiceTwo}}" [(ngModel)] = "response.studentResponse">{{ques.choiceTwo}}</div>
                <div><input type="radio" name="response" value = "{{ques.choiceThree}}" [(ngModel)] = "response.studentResponse">{{ques.choiceThree}}</div>
                <div><input type="radio" name="response" value = "{{ques.choiceFour}}" [(ngModel)] = "response.studentResponse">{{ques.choiceFour}}</div>
    </form>
</table>
    <button class="previous" *ngIf="isStarted" (click)= "previousQuestion()">Previous</button>
    <button class="next" *ngIf="isStarted" (click)= "nextQuestion()" [disabled]="index+1 == questionListSize">Next</button>
    <button class="button3" *ngIf="isStarted" (click)= "submitTest()">Submit</button>
</div>
</body>