<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a [routerLink]="['/dashboardLink']">Dashboard</a></li>
					<li><a href="#">Profile</a></li>
					<li><a [routerLink]="['/reportLink']">Reports</a></li>
					<li><a [routerLink]="['/testLink']">Take Test</a></li>
					<li><a href="['']">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<h1>AV3</h1>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a [routerLink]="['/dashboard/reportLink']">Reports</a></li>
					<li><a [routerLink]="['/dashboard/testLink']">Take Test</a></li>
					<li><a [routerLink]="['']">Logout</a></li>
				</ul>
				<br>
			</div>
			<br>
			<div class="col-sm-9">
				<div class="well" style="background-color: #05668d">
					<img src="assets/images/icon.jpg" class="img-circle"
						style="width: 100px; height: 100px;"> <span
						style="font-size: 20px">Welcome {{currentName}}!</span>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
	
</body>
</html>

