<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>

<body style="background-image: url(../assets/images/bg4.jpg);">
  <div class="topnav">

    <ul>
      <li>
      <div class="dropdown"  style="width: 15%;float: right; padding-left: 10px; height:auto; margin-top: -5px;">
        <button class="dropbtn" style="background-color: transparent;">Login</button>
        <div class="dropdown-content">
          <a style="float: right; padding-left: 20px; height:auto" [routerLink]="['/AdminLink']">Login As Admin</a>
          <a style="float: right; padding-left: 20px; height:auto" [routerLink]="['/loginLink']">Login As Student</a>
        </div>

      </div>
    </li>

      <li><a style="float: right; padding-left: 20px; padding-top: 2%; height:auto" [routerLink]="['/registerLink']">Register</a></li>
      <li><a style="float: right; padding-left: 20px; padding-top: 2%; height:auto" [routerLink]="['']">Home</a></li>
      <li><img src="../assets/images/logo.jpg" style="float: left; padding-left: 20px; height:auto"></li>
    </ul>
  </div>
  <p>
  <div class="row">
    <div class="main">
      <div class="card">
        <h1 style="text-align: center">Our Highlights</h1>
        <p> Online Examination Software by AV3 Group is an Online Exam Portal which
          is a unique and ideal platform to conduct the fastest, transparent, highly economical and
          accurate way to conduct Online Exams & Practice Tests to conduct various recruitment exams like IAS,
          Gate, SSC, Railway, Police, Defence,Police, Banks, IIT, JEE and NEET Entrance Exams.
        </p>
        <p>
          We have more than 2000 clients worldwide from various sectors like Government Organizations, Leading
          Universities, Institutes, Colleges, Schools, Coaching Institutes, Corporates and Industries. We are in
          connection with many notable B2C Firms, more than 10 lakh students and an enormous number of candidates
          who have appeared on our ONEX Online Exam Portal.
        </p>
        <p>
          Each day, our team provides the best Quiz maker tool for teachers & businesses. Used globally for business
          & enterprise training Tests, pre-employment assessments, online certifications and compliance, recruitment
          & health and safety quizzes, schools, universities, distance learning, lead generation, online courses,
          E-Learning, practice Tests & more.
        </p>
      </div>
      <div class="card">
        <h1 style="text-align: center">Our Services</h1>
        <div class="cc">
          <img src="assets/images/1.png">
          <p style="margin-top: 22px;">Highly Secure software</p>
        </div>
        <div class="cc">
          <img src="assets/images/3.jpg">
          <p style="margin-top: 9px;">Student Managemenet</p>
        </div>
        <div class="cc">
          <img src="assets/images/2.jpg">
          <p style="margin-top: 37px;"> Instant Result</p>
        </div>
        <div class="cc">
          <img src="assets/images/4.jpg">
          <p style="margin-top: 20px;">Schedule Examinations</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer" >
    <ul>
      <p style="float: left; color: white; padding-left: 20px; height:auto">Contact</p>
<p style="float: left; color: white; padding-left: 20px; height:auto">About Us</p>
<p style="float: left; color: white; padding-left: 20px; height:auto">More Info</p>
<p style="float: right;color: white; padding-left: 20px; height:auto">All Copyrights Reserved</p>
<p style="float: center;color: white; padding-left: 20px; height:auto">© 2020 Larsen & Toubro Infotech Limited</p>
    </ul>
  </div>
</body>

</html>