* {
    box-sizing: border-box;             /*it will be a box n content will be adjusted*/
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  .header{
    padding: 10px;
    text-align: center;
    background: transparent;
    width: 80%;
    margin: auto;
}

.topnav ul{
    list-style-type: none;
}
/* Style the top navigation bar */
  .topnav {
    overflow: hidden;/*if the content is increase the size then it ll not display additonal content*/
    background-color: transparent;
    width: 80%;
    margin: auto;
  }
  
/* Style the topnav links */
  .topnav a {
    float: right;
    padding-top: 10px;
    color:whitesmoke;
    text-align: center;
    padding: 14px;
    text-decoration: none; /*it will remove hyperlink or underline*/
    letter-spacing: 1px;
    height: 70px;
  }


.row:after {
    content: "";
    display: table;
    clear: both;
  }

.main {   
    width: 80%;
    margin: 10px;
  }

/* Add a card effect for articles */
  .card {
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
  }

  .cc{
      float: left;
      padding: 5px;
  }

  img{
      width: auto;
      max-width: 185px;
      height: auto;
  }
.stateAndDistrict{
   width: 73%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;

}
/* Full-width inputs */
  input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  

/* Add padding to containers */
  .container {
    padding: 16px;
    width: 350px;
    margin: auto;
  }
  
  
  /* Add a hover effect for buttons */
   button:hover {
     opacity: 0.8;
   }
/* Set a style for all buttons */
  button {
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Extra style for the cancel button (red) */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

   
    /* The "Forgot password" text */
      span.psw {
        float: right;
        padding-top: 16px;
      }

  /* Footer */
  .footer {
    padding: 50px;
    color: white;
    text-align: center;
    background: transparent;
    margin-top: 20px;
    width: 80%;
    margin: auto;
  }
body{
    
    background: url(./bg4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	position: relative;
    min-height: 100vh;
    background-size: 100% ;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    padding: 20px;
}
.dropdown
{
  margin-left: 50px;
}
.register{
    color: rgb(163, 160, 160);
    background:transparent;
    width: 500px;
    margin: 50px 0px 0px 43px;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}
#register{
    margin-left: 50px;
}
label{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 500px;
}
#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}
#ph{
    width: 65px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#mob{
    width: 230px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: 16px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
}
